header {
  width: 100vw;
  height: 13vh;
}
header #navBar {
  width: 100vw;
  z-index: 100;
  -webkit-box-shadow: 7px 5px 5px;
          box-shadow: 7px 5px 5px;
  margin-bottom: 5px;
  background: red;
}
header #logoBridge {
  width: 85px;
  height: 55px;
  margin-right: 100px;
  border: 0.5px solid black;
  border-radius: 15%;
}
header .navbar-nav li {
  margin-right: 100px;
  margin-bottom: 5px;
}
header .navbar-nav li a {
  color: white !important;
  font-size: 20px;
}
header .navbar-nav li a:hover {
  background-color: blue;
}
@media only screen and (max-width: 1200px) {
  header #navBar {
    background: blue;
    width: 100vw;
    height: 10vh;
  }
  header #logoBridge {
    height: 45px;
    width: 65px;
  }
  header .navbar-nav li {
    text-align: center;
    margin-top: 10px;
  }
  header .navbar-nav li a {
    font-size: 18px;
  }
  header .navbar-nav li a:hover {
    background-color: red;
  }
}
@media only screen and (max-width: 992px) {
  header #navBar {
    height: 55px;
    width: 100vw;
  }
}
main {
  width: 100vw;
  height: 100vh;
}
main #carou {
  margin-top: 10px;
}
main h1 {
  font-family: "Berkshire Swash", cursive;
  text-align: center;
  color: blue;
  margin-top: 5px;
}
main p {
  text-align: center;
}
main .bannerSedes {
  background: blue;
  height: 170px;
}
main .fontSedes {
  color: rgb(105, 105, 240);
  text-align: center;
  font-size: 120px;
}
main .contactoText {
  color: blue;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main .btn {
  color: white;
  background: blue;
  border-radius: 20px 20px 20px 20px;
}
main .btn:hover {
  color: white;
}
main #infoContacto {
  border: 0.5px solid blue;
  border-radius: 20px 20px 20px 20px;
  height: 70px;
  color: blue;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}
main .infoContacto {
  font-size: 20px;
  text-align: center;
}
main .card {
  margin-left: 20px;
}
main .card:hover {
  -webkit-transform: translate(20px);
          transform: translate(20px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
main #examInter {
  margin-top: 20px;
}
main #examInter2 {
  margin-top: 20px;
}
@media only screen and (max-width: 1200px) {
  main #carou {
    height: 70vh;
    width: 90vw;
    margin-left: 60px;
  }
  main h1 {
    font-size: 30px;
    color: red;
  }
  main p {
    text-align: center;
    font-family: "Berkshire Swash", cursive;
    font-size: 15px;
  }
  main .bannerSedes {
    background: rgb(250, 0, 0);
    height: 150px;
  }
  main .fontSedes {
    color: rgb(248, 90, 90);
  }
  main .card {
    height: 45vh;
    width: 500px;
    margin-left: 60px;
  }
  main .img-fluid {
    height: 250px;
    margin-top: 3px;
  }
  main #examInter {
    width: 50px;
    height: 30px;
  }
  main #examInter2 {
    width: 50px;
    height: 10px;
    margin-left: 500px;
    margin-top: 100px;
  }
  main .btn {
    background: red;
  }
  main #infoContacto {
    border: 0.5px solid red;
    height: 70px;
    width: 390px;
    color: blue;
  }
  main .infoContacto {
    margin-top: 5px;
  }
  main #mapLocation {
    display: none;
  }
}
footer {
  width: 100vw;
  height: 10vh;
  background: rgb(24, 24, 247);
}
footer #datos {
  margin-top: 10px;
}
footer #datos h2 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  text-align: center;
  margin-bottom: 0;
}
body {
  width: 100vw;
  height: 100vh;
}
body a .float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
body a .float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}
body a .float .my-float {
  margin-top: 16px;
}
@media only screen and (max-width: 1200px) {
  body {
    width: 100vw;
    height: 100vh;
  }
}