header {
  width: 100vw;
  height: 13vh;
}
header #navBar {
  width: 100vw;
  height: 13vh;
  z-index: 100;
  border: 1px solid rgb(230, 226, 226);
  margin-bottom: 5px;
  background: #FFFFFF;
  position: fixed;
}
header #logoBridge {
  width: 70px;
  height: 66px;
  margin-right: 80px;
  margin-left: 50px;
}
header .navbar-nav li {
  margin-bottom: 5px;
  margin-right: 100px;
  margin-left: 25px;
  margin-top: 15px;
}
header .navbar-nav li a {
  color: grey !important;
  font-size: 17px;
}
header .navbar-nav li a:hover {
  background-color: #032615;
  color: white !important;
}
@media only screen and (max-width: 1200px) {
  header #navBar {
    background: #FFFFFF;
    width: 100vw;
    height: 13vh;
  }
  header #logoBridge {
    height: 60px;
    width: 50px;
  }
  header .navbar-nav li {
    margin-right: 50px;
  }
  header .navbar-nav li a {
    color: grey !important;
    font-size: 18px;
  }
  header .navbar-nav li a:hover {
    background-color: #032615;
    color: white !important;
  }
}
@media only screen and (max-width: 992px) {
  header #navBar {
    background: #FFFFFF;
    width: 100vw;
    height: 13vh;
  }
  header #logoBridge {
    height: 60px;
    width: 50px;
  }
}
@media only screen and (max-width: 768px) {
  header #navBar {
    width: 100vw;
    background: #FFFFFF;
    z-index: 100;
  }
  header #logoBridge {
    height: 60px;
    width: 30px;
  }
  header #logoBridge {
    height: 40px;
    width: 60px;
  }
}
@media only screen and (max-width: 576px) {
  header #logoBridge {
    height: 30px;
    width: 30px;
  }
}

main {
  width: 100vw;
  height: 100vh;
}
main h1 {
  font-family: "Berkshire Swash", cursive;
  text-align: center;
  color: #032615;
  margin-top: 5px;
  font-size: 30px;
}
main #location {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main #textIndx {
  font-size: 38px;
  margin-top: 3px;
}
main .indexText {
  color: black;
  text-align: center;
  font-size: 17px;
  margin-bottom: 3px;
}
main #card2 {
  height: 43vh;
  margin-bottom: 5px;
  margin-top: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main #carD2 {
  width: 300px;
  margin-top: 3px;
}
main #featuresBridge {
  width: 100vw;
  height: 200px;
  background: #032615;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .featuBridge {
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
}
main .featuBridge:hover {
  background: white;
}
main .ftexto {
  color: white;
}
main p {
  text-align: start;
}
main .bannerSedes {
  background: #032615;
  height: 115px;
  margin-bottom: 5px;
}
main .fontSedes {
  color: #08532f;
  text-align: center;
  font-size: 110px;
}
main .contactoText {
  color: #032615;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main .btn {
  color: white;
  background: #032615;
  border-radius: 20px 20px 20px 20px;
}
main .btn:hover {
  color: white;
}
main #infoContacto {
  border: 0.5px solid #032615;
  border-radius: 20px 20px 20px 20px;
  height: 70px;
  color: #032615;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}
main .infoContacto {
  font-size: 20px;
  text-align: center;
}
main .textEmpresa {
  font-size: 45px;
}
main #bannerEmpresa2 {
  width: 60vw;
  height: 50vh;
}
main .textCapa {
  text-align: center;
}
main #empresarios {
  width: 100vw;
  height: 40vh;
}
main .bannerSedes2 {
  background: #032615;
  height: 270px;
  margin-bottom: 5px;
}
main #examInter {
  margin-top: 20px;
}
main #examInter2 {
  margin-top: 20px;
}
@media only screen and (max-width: 1200px) {
  main #card2 {
    width: 25vw;
  }
  main #carD2 {
    width: 30vw;
    margin-top: 5px;
  }
  main #card3 {
    height: 45vh;
  }
  main #carD3 {
    width: 30vw;
    margin-top: 5px;
  }
  main #featuresBridge {
    width: 100vw;
    height: 150px;
    background: #032615;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .featuBridge {
    margin-top: 0;
  }
  main .ftexto {
    color: white;
    font-size: 20px;
  }
  main #textIndx {
    font-size: 35px;
    margin-top: 0;
  }
  main .indexText {
    font-size: 16px;
  }
  main .card {
    width: 47vw;
    height: 45vh;
    margin-left: 20px;
  }
  main .img-fluid {
    height: 40vh;
    margin-top: 15px;
  }
  main .cursosText {
    font-size: 30px;
  }
  main #textCursos4 {
    font-size: 17px;
    text-align: center;
  }
  main #textCursos3 {
    font-size: 15px;
    text-align: center;
  }
  main #textCursos2 {
    font-size: 16px;
    text-align: center;
  }
  main #textCursos {
    font-size: 16px;
    text-align: center;
  }
  main #examInter {
    margin: 0;
  }
  main #examInter2 {
    margin: 0;
  }
  main .examenesIconos {
    display: none;
  }
  main .examenesIconos1 {
    display: none;
  }
  main #examenesAvala {
    display: none;
  }
  main .bannerSedes2 {
    display: none;
  }
  main .bannerSedes2 {
    background: #032615;
    height: 270px;
    margin-bottom: 5px;
  }
  main #location {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main p {
    text-align: start;
  }
  main .bannerSedes {
    height: 50px;
  }
  main .fontSedes {
    font-size: 40px;
  }
  main .contactoText {
    font-size: 15px;
  }
  main #fotoEmpresa {
    width: 40vw;
    height: 40vh;
    margin-left: 400px;
  }
}
@media only screen and (max-width: 992px) {
  main h1 {
    font-size: 40px;
  }
  main .card {
    width: 47vw;
    margin-left: 10px;
  }
  main .card-text {
    font-size: 20px;
  }
  main .indexText {
    font-size: 15px;
  }
  main #carD2 {
    width: 25vw;
  }
  main #carD3 {
    width: 25vw;
  }
  main .cursosText {
    font-size: 25px;
  }
  main p {
    text-align: center;
    font-size: 20px;
  }
  main #textCursos {
    font-size: 13px;
  }
  main #textCursos2 {
    font-size: 15px;
  }
  main #textCursos3 {
    font-size: 13px;
  }
  main #textCursos4 {
    font-size: 15px;
  }
  main #examInter {
    height: 30px;
    margin-top: 0;
  }
  main #examInter2 {
    height: 10px;
    margin-left: 300px;
    margin-top: 160px;
  }
  main #textAl {
    font-size: 17px;
  }
  main #textExinter {
    font-size: 17px;
  }
  main .bannerSedes {
    height: 50px;
  }
  main .fontSedes {
    font-size: 40px;
  }
  main .contactoText {
    font-size: 14px;
  }
  main #fotoEmpresa {
    width: 30vw;
    height: 30vh;
    margin-left: 390px;
  }
  main .textCapa {
    font-size: 16px;
    text-align: start;
  }
}
@media only screen and (max-width: 768px) {
  main .card {
    width: 45vw;
    height: 45vh;
    margin-left: 10px;
  }
  main .img-fluid {
    display: none;
  }
  main .card-text {
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  main .indexText {
    font-size: 15px;
    margin-top: 5px;
  }
  main #carD2 {
    width: 25vw;
  }
  main .ftexto {
    font-size: 14px;
  }
  main #textIndx {
    display: none;
  }
  main .indexText {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  main p {
    text-align: start;
    font-family: "Berkshire Swash", cursive;
    font-size: 18px;
  }
  main h1 {
    font-size: 30px;
  }
  main .btn {
    height: 40px;
    width: 110px;
  }
  main .bannerSedes {
    height: 35px;
  }
  main .fontSedes {
    font-size: 25px;
  }
  main .contactoText {
    font-size: 14px;
  }
  main #examInter2 {
    margin-left: 60px;
    margin-top: 190px;
  }
  main #textAl {
    font-size: 15px;
  }
  main #textExinter {
    font-size: 15px;
    text-align: center;
  }
  main .cursosText {
    font-size: 25px;
  }
  main #textCursos4 {
    font-size: 12px;
    text-align: center;
  }
  main #textCursos3 {
    font-size: 11px;
    text-align: start;
  }
  main #textCursos2 {
    font-size: 12px;
    text-align: center;
  }
  main #textCursos {
    font-size: 12px;
    text-align: center;
  }
  main #fotoEmpresa {
    width: 40vw;
    height: 30vh;
    margin-left: 250px;
  }
  main .textCapa {
    font-size: 16px;
    text-align: start;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  main .textEmpresa {
    font-size: 30px;
  }
}
@media only screen and (max-width: 576px) {
  main .cursosText {
    font-size: 30px;
    text-align: start;
    margin-top: 0;
    margin-bottom: 0;
  }
  main #textCursos4 {
    font-size: 11px;
    text-align: center;
  }
  main #textCursos3 {
    font-size: 12px;
    text-align: start;
  }
  main #textCursos2 {
    font-size: 12px;
    text-align: center;
  }
  main #textCursos {
    font-size: 12px;
    text-align: center;
  }
  main .indexx {
    font-size: 50px;
    text-align: center;
    margin-left: 50px;
  }
  main .indexText {
    font-size: 15px;
    margin-top: 5px;
  }
  main #card2 {
    display: none;
  }
  main #card3 {
    display: none;
  }
  main .featuBridge {
    display: none;
  }
  main .ftexto {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
  }
  main .indexText {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 20px;
  }
  main h1 {
    text-align: start;
    font-size: 40px;
    margin-bottom: 40px;
  }
  main .card-title {
    font-size: 17px;
  }
  main p {
    text-align: start;
    font-family: "Berkshire Swash", cursive;
    font-size: 15px;
  }
  main .card {
    height: 47vh;
    width: 273px;
    margin-left: 0px;
  }
  main .img-fluid {
    display: none;
  }
  main #examInter {
    width: 10vw;
    margin: 0;
  }
  main #examInter2 {
    margin-right: 0;
    margin-top: 180px;
  }
  main #textAl {
    font-size: 12px;
  }
  main #textExinter {
    font-size: 13px;
    text-align: start;
  }
  main .bannerSedes {
    display: none;
  }
  main .contactoText {
    display: none;
  }
  main #fotoEmpresa {
    display: none;
  }
  main .textCapa {
    font-size: 16px;
    text-align: start;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  main .textEmpresa {
    font-size: 30px;
  }
}

footer {
  width: 100vw;
  height: 10vh;
  background: #032615;
}
footer #datos {
  margin-top: 10px;
}
footer #datos h2 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  text-align: start;
  margin-bottom: 0;
}
@media only screen and (max-width: 576px) {
  footer #datos h2 {
    font-size: 15px;
    text-align: start;
  }
}