header {
  width: 100vw;
  height: 13vh;
}
header #navBar {
  width: 100vw;
  height: 13vh;
  z-index: 100;
  border: 1px solid rgb(230, 226, 226);
  margin-bottom: 5px;
  background: #FFFFFF;
  position: fixed;
}
header #logoBridge {
  width: 70px;
  height: 66px;
  margin-right: 80px;
  margin-left: 50px;
}
header .navbar-nav li {
  margin-bottom: 5px;
  margin-right: 100px;
  margin-left: 25px;
  margin-top: 15px;
}
header .navbar-nav li a {
  color: grey !important;
  font-size: 17px;
}
header .navbar-nav li a:hover {
  background-color: #032615;
  color: white !important;
}
@media only screen and (max-width: 1200px) {
  header #navBar {
    background: #FFFFFF;
    width: 100vw;
    height: 10vh;
  }
  header #logoBridge {
    height: 45px;
    width: 65px;
  }
  header .navbar-nav li {
    text-align: center;
    margin-top: 10px;
  }
  header .navbar-nav li a {
    font-size: 18px;
  }
  header .navbar-nav li a:hover {
    background-color: #032615;
  }
}
@media only screen and (max-width: 992px) {
  header #navBar {
    width: 100vw;
    background: #FFFFFF;
  }
  header .navbar-nav li {
    margin-top: 14px;
  }
  header .navbar-nav li a {
    font-size: 16px;
  }
  header .navbar-nav li a:hover {
    background-color: #032615;
  }
  header .navbar-nav #mediasQ {
    margin-top: 7px;
  }
}
@media only screen and (max-width: 768px) {
  header #navBar {
    width: 100vw;
    background: #FFFFFF;
  }
  header .navbar-nav li {
    margin-top: 14px;
  }
  header .navbar-nav li a {
    color: red !important;
    font-size: 16px;
  }
  header .navbar-nav li a:hover {
    background-color: #032615 !important;
  }
  header .navbar-nav #mediasQ {
    margin-top: 7px;
  }
  header #logoBridge {
    height: 40px;
    width: 60px;
  }
}
main {
  width: 100vw;
  height: 100vh;
}
main h1 {
  font-family: "Berkshire Swash", cursive;
  text-align: center;
  color: #032615;
  margin-top: 5px;
  font-size: 30px;
}
main #location {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main #textIndx {
  font-size: 38px;
  margin-top: 3px;
}
main .indexText {
  color: black;
  text-align: center;
  font-size: 17px;
  margin-bottom: 3px;
}
main #card2 {
  height: 43 vh;
  margin-bottom: 5px;
  margin-top: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main #carD2 {
  width: 35vw;
  margin-top: 3px;
}
main #card3 {
  height: 43vh;
  margin-bottom: 5px;
  margin-top: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main #carD3 {
  width: 35vw;
  margin-top: 3px;
}
main #featuresBridge {
  width: 100vw;
  height: 218px;
  background: #032615;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .featuBridge {
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
}
main .featuBridge:hover {
  background: white;
}
main .ftexto {
  color: white;
}
main p {
  text-align: start;
}
main .bannerSedes {
  background: #032615;
  height: 115px;
}
main .fontSedes {
  color: #08532f;
  text-align: center;
  font-size: 110px;
}
main .contactoText {
  color: #032615;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main .btn {
  color: white;
  background: #032615;
  border-radius: 20px 20px 20px 20px;
}
main .btn:hover {
  color: white;
}
main #infoContacto {
  border: 0.5px solid #032615;
  border-radius: 20px 20px 20px 20px;
  height: 70px;
  color: #032615;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}
main .infoContacto {
  font-size: 20px;
  text-align: center;
}
main #examInter {
  margin-top: 20px;
}
main #examInter2 {
  margin-top: 20px;
}
@media only screen and (max-width: 1200px) {
  main h1 {
    font-size: 30px;
  }
  main p {
    text-align: center;
    font-family: "Berkshire Swash", cursive;
    font-size: 15px;
  }
  main .bannerSedes {
    height: 150px;
  }
  main .card {
    height: 45vh;
    width: 500px;
    margin-left: 60px;
  }
  main .img-fluid {
    height: 250px;
    margin-top: 3px;
  }
  main #examInter {
    width: 50px;
    height: 30px;
  }
  main #examInter2 {
    width: 50px;
    height: 10px;
    margin-left: 500px;
    margin-top: 100px;
  }
  main #infoContacto {
    border: 0.5px solid #032615;
    height: 70px;
    width: 390px;
  }
  main .infoContacto {
    margin-top: 5px;
  }
  main #mapLocation {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  main h1 {
    font-size: 40px;
  }
  main .cursosText {
    font-size: 25px;
  }
  main p {
    text-align: center;
    font-family: "Berkshire Swash", cursive;
    font-size: 20px;
  }
  main #textCursos {
    font-size: 13px;
  }
  main #textCursos2 {
    font-size: 15px;
  }
  main #textCursos3 {
    font-size: 13px;
  }
  main #textCursos4 {
    font-size: 15px;
  }
  main .bannerSedes {
    height: 110px;
  }
  main .fontSedes {
    font-size: 70px;
  }
  main .card {
    height: 45vh;
    width: 435px;
    margin-left: 50px;
  }
  main .img-fluid {
    height: 250px;
    margin-top: 5px;
  }
  main #examInter {
    height: 30px;
    margin-top: 0;
  }
  main #examInter2 {
    height: 10px;
    margin-left: 300px;
    margin-top: 160px;
  }
  main #textAl {
    font-size: 17px;
  }
  main #textExinter {
    font-size: 17px;
  }
  main #infoContacto {
    width: 600px;
    color: #032615;
    margin-top: 30px;
  }
  main .contactoText {
    font-size: 30px;
    font-family: "Berkshire Swash", cursive;
    text-align: center;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 768px) {
  main h1 {
    text-align: start;
    font-size: 40px;
  }
  main p {
    text-align: start;
    font-family: "Berkshire Swash", cursive;
    font-size: 18px;
  }
  main .bannerSedes {
    height: 100px;
  }
  main h1 {
    font-size: 30px;
  }
  main .btn {
    height: 60px;
    width: 130px;
  }
  main #examInter2 {
    margin-left: 128px;
    margin-top: 190px;
  }
  main #textAl {
    font-size: 16px;
  }
  main #textExinter {
    font-size: 16px;
  }
  main .card {
    height: 40vh;
    width: 370px;
    margin-left: 0px;
  }
  main .img-fluid {
    height: 180px;
    margin-top: 25px;
  }
  main .cursosText {
    font-size: 25px;
  }
  main #textCursos {
    font-size: 11px;
  }
  main #textCursos2 {
    font-size: 12px;
  }
  main #textCursos3 {
    font-size: 11px;
  }
  main #textCursos4 {
    font-size: 12px;
  }
}
@media only screen and (max-width: 576px) {
  main h1 {
    text-align: start;
    font-size: 40px;
    margin-bottom: 40px;
  }
  main .card-title {
    font-size: 17px;
  }
  main p {
    text-align: start;
    font-family: "Berkshire Swash", cursive;
    font-size: 15px;
  }
  main .card {
    height: 47vh;
    width: 273px;
    margin-left: 0px;
  }
  main .img-fluid {
    display: none;
  }
  main .cursosText {
    font-size: 25px;
    text-align: center;
    margin-bottom: 3px;
  }
  main #textCursos {
    font-size: 13px;
  }
  main #textCursos2 {
    font-size: 14px;
  }
  main #textCursos3 {
    font-size: 13px;
  }
  main #textCursos4 {
    font-size: 14px;
  }
  main .btn {
    display: none;
  }
  main #examInter {
    width: 10vw;
  }
  main #examInter2 {
    margin-right: 100px;
    margin-top: 180px;
  }
  main #textAl {
    font-size: 14px;
  }
  main #textExinter {
    font-size: 15px;
    text-align: start;
  }
  main #infoContacto {
    width: 500px;
  }
}

footer {
  width: 100vw;
  height: 10vh;
  background: #032615;
}
footer #datos {
  margin-top: 10px;
}
footer #datos h2 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  text-align: start;
  margin-bottom: 0;
}
@media only screen and (max-width: 576px) {
  footer #datos h2 {
    font-size: 15px;
    text-align: start;
  }
}

body {
  width: 100vw;
  height: 100vh;
  background: white;
}
body a .float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
body a .float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}
body a .float .my-float {
  margin-top: 16px;
}
@media only screen and (max-width: 1200px) {
  body {
    width: 100vw;
    height: 100vh;
  }
}
@media only screen and (max-width: 992px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  body .float {
    right: 90px;
  }
}
@media only screen and (max-width: 768px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  body .float {
    right: 65px;
  }
}
@media only screen and (max-width: 576px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  body .float {
    right: 50px;
    width: 50px;
    height: 60px;
  }
}