footer{
    width: 100vw;
    height: 10vh;
    background: #032615;

    #datos{
        margin-top: 10px;

        h2{
            color: white;
            font-family:'Times New Roman', Times, serif;
            font-size: 17px;
            text-align: start;
            margin-bottom: 0;
        }
    } 



    @media only screen and (max-width:576px) {
        
        #datos{

            h2{
                font-size: 15px;
                text-align: start;
            }
        }
    }
}