header{
    width: 100vw;
    height: 10vh;


    #navBar {
        width: 100vw;
        height: 10vh;
        z-index: 100;
        border: 1px solid rgb(230, 226, 226);
        margin-bottom: 5px;
        background: #FFFFFF;
        position:fixed;
    }


    #logoBridge {
        width: 75px;
        height: 63px;
        margin-right: 80px;
        margin-left: 50px;
    }

    .navbar-nav{
        li {
            margin-bottom: 5px;
            margin-right: 100px;
            margin-left: 25px;

            a{
                color: grey !important;
                font-size: 17px;

                &:hover{
                    background-color: #032615;
                    color: white !important;
                }
            }
        }
    }

    @media only screen and (max-width: 1200px) {

        #navBar {
            background: blue;
            width: 100vw;
            height: 10vh;
        }

        #logoBridge {
            height: 45px;
            width: 65px;
        }

        .navbar-nav{

            li{
                text-align: center;
                margin-top: 10px;

                a{
                    font-size: 18px;

                    &:hover{
                        background-color: red;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 992px) {

        #navBar{
            width: 100vw;
        }

        .navbar-nav{
            li{
                margin-top: 14px;

                a{
                    font-size: 16px;

                    &:hover{
                        background-color: red;
                    }
                }    
            }

            #mediasQ{
                    margin-top: 7px;
                }
        }
    }

    @media only screen and (max-width:768px) {

        #navBar{
            width: 100vw;
        }

        .navbar-nav{
            li{
                margin-top: 14px;

                a{
                    color: red !important;
                    font-size: 16px;

                    &:hover{
                        background-color: blue !important;
                    }
                }    
            }

            #mediasQ{
                    margin-top: 7px;
                }
        }

        #logoBridge{
            height: 40px;
            width: 60px;
        }

    }

    @media only screen and (max-width:576px) {
        
    }
}


    