header{
    width: 100vw;
    height: 13vh;


    #navBar {
        width: 100vw;
        z-index: 100;
        box-shadow: 7px 5px 5px;
        margin-bottom: 5px;
        background: red;
    }

    #logoBridge {
        width: 85px;
        height: 55px;
        margin-right: 100px;
        border: 0.5px solid black;
        border-radius: 15%;
    }

    .navbar-nav{
        li {
            margin-right: 100px;
            margin-bottom: 5px;

            a{
                color: white !important;
                font-size: 20px;

                &:hover{
                    background-color: blue;
                }
            }
        }
    }

    @media only screen and (max-width: 1200px) {

        #navBar {
            background: blue;
            width: 100vw;
            height: 10vh;
        }

        #logoBridge {
            height: 45px;
            width: 65px;
        }

        .navbar-nav{

            li{
                text-align: center;
                margin-top: 10px;

                a{
                    font-size: 18px;

                    &:hover{
                        background-color: red;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 992px) {

        #navBar{
            width: 100vw;
        }

        .navbar-nav{
            li{
                margin-top: 14px;

                a{
                    font-size: 16px;

                    &:hover{
                        background-color: red;
                    }
                }    
            }

            #mediasQ{
                    margin-top: 7px;
                }
        }
    }

    @media only screen and (max-width:768px) {

        #navBar{
            width: 100vw;
        }

        .navbar-nav{
            li{
                margin-top: 14px;

                a{
                    color: red !important;
                    font-size: 16px;

                    &:hover{
                        background-color: blue !important;
                    }
                }    
            }

            #mediasQ{
                    margin-top: 7px;
                }
        }

        #logoBridge{
            height: 40px;
            width: 60px;
        }

    }

    @media only screen and (max-width:576px) {
        
    }
}


    