main{
    width: 100vw;
    height: 100vh;

        
    h1{
        font-family: 'Berkshire Swash', cursive;
        text-align: center;
        color: #032615;
        margin-top: 5px;
        font-size: 30px;
    }

    #location{
        align-items: center;
    }

    #textIndx{
        font-size: 38px;
        margin-top: 3px;
    }

    .indexText{
        color: black;
        text-align: center;
        font-size: 17px;
        margin-bottom: 3px;
    }

    #card2{
        height: 43 vh;
        margin-bottom: 5px;
        margin-top: 5px;
        align-items: center;
    }
    
    #carD2{
        width: 35vw;
        margin-top: 3px;
    }

    #card3{
        height: 43vh;
        margin-bottom: 5px;
        margin-top: 5px;
        align-items: center;
    }

    #carD3{
        width: 35vw;
        margin-top: 3px;
    }

    #featuresBridge{
        width: 100vw;
        height: 218px;
        background: #032615;
        display: flex;
    }

    .featuBridge{
        margin-right: 15px;
        margin-top: 30px;
        margin-bottom: 20px;

        &:hover{
            background: white;
        }
    }

    .ftexto{
        color: white;
    }


    p{
        text-align: start;
    }

    .bannerSedes{
        background:#032615;
        height: 115px;
        margin-bottom: 5px;
    }

    .fontSedes{
        color: #08532f;
        text-align: center;
        font-size: 110px;
    }

    .contactoText{
        color: #032615;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .btn{
        color: white;
        background: #032615;
        border-radius: 20px 20px 20px 20px;


        &:hover{
            color: white;
        }
    }


    #infoContacto{
        border: 0.5px solid #032615;
        border-radius: 20px 20px 20px 20px;
        height: 70px;
        color: #032615;
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .infoContacto{
        font-size: 20px;
        text-align: center;
    }

    .textEmpresa{
        font-size: 45px;
    }

    #bannerEmpresa2{
        width: 60vw;
        height: 50vh;
    }

    .textCapa{
        text-align: center;
    }

    #empresarios{
        width: 100vw;
        height: 40vh;
    }

    #fotoEmpresa{
        width: 50vw;
        height: 50vh;
    }

    // .card{
    //     margin-left: 20px;

    //     &:hover{
    //         transform: translate(20px);
    //         transition: transform 1s;
    //     }
    // }

    #examInter{
        margin-top: 20px;
    }

    #examInter2{
        margin-top: 20px;
    }



    // ----media queries----

    @media only screen and (max-width: 1200px) {
     

        h1{
            font-size: 30px;
        }
    
        p{
            text-align: center;
            font-family: 'Berkshire Swash', cursive;
            font-size: 15px;
        }

        .bannerSedes{
            height: 150px;
        }

        .card{
            height: 45vh;
            width: 500px;
            margin-left: 60px;
        }

        .img-fluid{
            height: 250px;
            margin-top: 3px;
        }

        #examInter{
            width: 50px;
            height: 30px;
        }

        #examInter2{
            width: 50px;
            height: 10px;
            margin-left: 500px;
            margin-top: 100px;
        }

        #infoContacto{
            border: 0.5px solid #032615;
            height: 70px;
            width: 390px;
        }
    
        .infoContacto{
            margin-top: 5px;
        }

        #mapLocation{
            display: none;
        }
    }



    @media only screen and (max-width: 992px) {

        h1{
            font-size: 40px;
        }


        .cursosText{
            font-size: 25px;
        }
    

        p{
            text-align: center;
            font-family: 'Berkshire Swash', cursive;
            font-size: 20px;
        }


        #textCursos{
            font-size: 13px;
        }


        #textCursos2{
            font-size: 15px;
        }


        #textCursos3{
            font-size: 13px;
        }


        #textCursos4{
            font-size: 15px;
            
        }


        .bannerSedes{
            height: 110px;
        }
    

        .fontSedes{
            font-size: 70px;
        }


        .card{
            height: 45vh;
            width: 435px;
            margin-left: 50px;
        }


        .img-fluid{
            height: 250px;
            margin-top: 5px;
        }

        #examInter{
            height: 30px;
            margin-top: 0;
        }

        #examInter2{
            height: 10px;
            margin-left: 300px;
            margin-top: 160px;
        }


        #textAl{
            font-size: 17px;
        }


        #textExinter{
            font-size: 17px;
        }

        #infoContacto{
            width: 600px;
            color: #032615;
            margin-top: 30px;
        }


        .contactoText{
            font-size: 30px;
            font-family: 'Berkshire Swash', cursive;
            text-align: center;
            margin-bottom: 10px;
        }
    }

    @media only screen and (max-width:768px) {

        h1{
            text-align: start;
            font-size: 40px;
        }

        p{
            text-align: start;
            font-family: 'Berkshire Swash', cursive;
            font-size: 18px;
        }

        .bannerSedes{
            height: 100px;
        }


        h1{
            font-size: 30px;
        }

        .btn{
            height: 60px;
            width: 130px;
        }

        #examInter2{
            margin-left: 128px;
            margin-top: 190px;
        }


        #textAl{
            font-size: 16px;
        }

        #textExinter{
            font-size: 16px;
        }

        .card{
            height: 40vh;
            width: 370px;
            margin-left: 0px;
        }


        .img-fluid{
            height: 180px;
            margin-top: 25px;
        }

        .cursosText{
            font-size: 25px;

        }

        #textCursos{
            font-size: 11px;
        }


        #textCursos2{
            font-size: 12px;
        }


        #textCursos3{
            font-size: 11px;
        }


        #textCursos4{
            font-size: 12px;     
        }

    }

    @media only screen and (max-width:576px) {

        h1{
            text-align: start;
            font-size: 40px;
            margin-bottom: 40px;
        }

        .card-title{
            font-size: 17px;
        }

        p{
            text-align: start;
            font-family: 'Berkshire Swash', cursive;
            font-size: 15px;
        }

        .card{
            height: 47vh;
            width: 273px;
            margin-left: 0px;
        }

        .img-fluid{
            display: none;
        }

        .cursosText{
            font-size: 25px;
            text-align: center;
            margin-bottom: 3px;
        }

        #textCursos{
            font-size: 13px;
        }

        #textCursos2{
            font-size: 14px;
        }

        #textCursos3{
            font-size: 13px;
        }

        #textCursos4{
            font-size: 14px;     
        }

        .btn{
            display: none;
        }

        #examInter{
            width: 10vw;
        }

        #examInter2{
            margin-right: 100px;
            margin-top: 180px;
        }

        #textAl{
            font-size: 14px;
        }

        #textExinter{
            font-size: 15px;
            text-align: start;
        }

        #infoContacto{
            width: 500px;
        }
    }
}