main{
    width: 100vw;
    height: 100vh;

    h1{
        font-family: 'Berkshire Swash', cursive;
        text-align: center;
        color: #032615;
        margin-top: 5px;
        font-size: 30px;
    }

    #location{
        align-items: center;
    }

    #textIndx{
        font-size: 38px;
        margin-top: 3px;
    }

    .indexText{
        color: black;
        text-align: center;
        font-size: 17px;
        margin-bottom: 3px;
    }


    #card2{
        height: 43 vh;
        margin-bottom: 5px;
        margin-top: 5px;
        align-items: center;
    }

    
    #carD2{
        width: 35vw;
        margin-top: 3px;
    }


    #card3{
        height: 43vh;
        margin-bottom: 5px;
        margin-top: 5px;
        align-items: center;
    }


    #carD3{
        width: 35vw;
        margin-top: 3px;
    }


    #featuresBridge{
        width: 100vw;
        height: 218px;
        background: #032615;
        display: flex;
    }


    .featuBridge{
        margin-right: 15px;
        margin-top: 30px;
        margin-bottom: 20px;

        &:hover{
            background: white;
        }
    }


    .ftexto{
        color: white;
    }


    p{
        text-align: start;
    }


    .bannerSedes{
        background:#032615;
        height: 115px;
        margin-bottom: 5px;
    }


    .fontSedes{
        color: #08532f;
        text-align: center;
        font-size: 110px;
    }

    .contactoText{
        color: #032615;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


    .btn{
        color: white;
        background: #032615;
        border-radius: 20px 20px 20px 20px;


        &:hover{
            color: white;
        }
    }


    #infoContacto{
        border: 0.5px solid #032615;
        border-radius: 20px 20px 20px 20px;
        height: 70px;
        color: #032615;
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 10px;
    }


    .infoContacto{
        font-size: 20px;
        text-align: center;
    }


    .textEmpresa{
        font-size: 45px;
    }


    #bannerEmpresa2{
        width: 60vw;
        height: 50vh;
    }


    .textCapa{
        text-align: center;
    }


    #empresarios{
        width: 100vw;
        height: 40vh;
    }


    .examenesIconos {
        width: 20vw;
        margin-top: 3px;
        height: 20vh;
        margin-left: 70px;

        &:hover{
            transform: translate(20px);
            transition: transform 1s;
        }
    }


    .examenesIconos1{
        width: 15vw;
        height: 30vh;
        margin-top:0;
        margin-left: 50px;

        &:hover{
            transform: translate(20px);
            transition: transform 1s;
        }
    }


    #fotoEmpresa{
        width: 50vw;
        height: 50vh;
    }


    .bannerSedes2{
        background:#032615;
        height: 270px;
        margin-bottom: 5px;
    }


    #examenesAvala{
        color: white;
        font-size: 35px;
    }


    #examInter{
        margin-top: 20px;
    }

    #examInter2{
        margin-top: 20px;
    }



    // ----media queries----

    @media only screen and (max-width: 1200px) {

        // ---INDEX---

        #card2{
            width: 25vw;
        }
    
        #carD2{
            width: 30vw;
            margin-top: 5px;
        }
    
        #card3{
            height: 45vh;
        }
    
        #carD3{
            width: 30vw;
            margin-top: 5px;
        }
    
        #featuresBridge{
            width: 100vw;
            height: 150px;
            background: #032615;
            display: flex;
        }

        .featuBridge{
            margin-top: 0;
        }
    
        .ftexto{
            color: white;
            font-size: 20px;
        }

        #textIndx{
            font-size: 35px;
            margin-top: 0;
        }
    
        .indexText{
            font-size: 16px;
        }

        .card{
            width: 47vw;
            height: 45vh;
            margin-left: 20px;
        }

        .img-fluid{
            height: 40vh;
            margin-top: 15px;
        }

        // ---cursos---

        .cursosText{
            font-size: 30px;
        }

        #textCursos4{
            font-size: 17px;
            text-align: center;
        }
        #textCursos3{
            font-size: 15px;
            text-align: center;
        }
        #textCursos2{
            font-size: 16px;
            text-align: center;
        }
        #textCursos{
            font-size: 16px;
            text-align: center;
        }

        // ---ex치menes---

        #examInter{
            margin: 0;
        }
    
        #examInter2{
            margin: 0;
        }

        .examenesIconos {
            display: none;
        }
    
        .examenesIconos1{
            display: none;
        }

        #examenesAvala{
            display: none;
        }

        .bannerSedes2{
            display: none;
        }

        .bannerSedes2{
            background:#032615;
            height: 270px;
            margin-bottom: 5px;
        }

        // ---contacto---

        #location{
            align-items: center;
        }

        p{
            text-align: start;
        }

        .bannerSedes{
            height: 50px;
        }
    
        .fontSedes{

            font-size: 40px;
        }

        .contactoText{
            font-size: 15px;
        }
    

        // ---capacitaciones---
    
        #fotoEmpresa{
            width: 40vw;
            height: 40vh;
            margin-left: 400px;
        }
    }


    @media only screen and (max-width: 992px) {

        // ---index---

        h1{
            font-size: 40px;
        } 
        
        .card{
            width: 47vw;
            margin-left: 10px;
        }

        .card-text{
            font-size: 20px;
        }

        .indexText{
            font-size: 15px;
        }

        #carD2{
            width: 25vw;
        }

        #carD3{
            width: 25vw;
        }

        // ---cursos---


        .cursosText{
            font-size: 25px;
        }
    
        p{
            text-align: center;
            font-size: 20px;
        }

        #textCursos{
            font-size: 13px;
        }


        #textCursos2{
            font-size: 15px;
        }


        #textCursos3{
            font-size: 13px;
        }


        #textCursos4{
            font-size: 15px;
            
        }

        // ---ex치menes---


        #examInter{
            height: 30px;
            margin-top: 0;
        }

        #examInter2{
            height: 10px;
            margin-left: 300px;
            margin-top: 160px;
        }

        #textAl{
            font-size: 17px;
        }

        #textExinter{
            font-size: 17px;
        }

        // ---contacto----

        .bannerSedes{
            height: 50px;
        }
    
        .fontSedes{
            font-size: 40px;
        }

        .contactoText{
            font-size: 14px;
        }

        // ---capacitaciones---

        #fotoEmpresa{
            width: 30vw;
            height: 30vh;
            margin-left: 390px;
        }

        .textCapa{
            font-size: 16px;
            text-align: start;
        }
    }

    @media only screen and (max-width:768px) {


        // ---index---

        .card{
            width: 45vw;
            height: 45vh;
            margin-left: 10px;
        }

        .img-fluid{
            display: none;
        }

        .card-text{
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .indexText{
            font-size: 15px;
            margin-top: 5px;
        }

        #carD2{
            width: 25vw;

        }

        .ftexto{
            font-size: 14px;
        }

        #textIndx{
            display: none;
        }

        .indexText{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }


        p{
            text-align: start;
            font-family: 'Berkshire Swash', cursive;
            font-size: 18px;
        }

        h1{
            font-size: 30px;
        }

        .btn{
            height: 40px;
            width: 110px;
        }

        // ---contacto---

        .bannerSedes{
            height: 35px;
        }
    
        .fontSedes{
            font-size: 25px;
        }

        .contactoText{
            font-size: 14px;
        }



        // ---ex치menes---

        #examInter2{
            margin-left: 60px;
            margin-top: 190px;
        }

        #textAl{
            font-size: 15px;
        }

        #textExinter{
            font-size: 15px;
            text-align: center;
        }

        // ---cursos---

        .cursosText{
            font-size: 25px;
        }

        #textCursos4{
            font-size: 12px;
            text-align: center;
        }
        #textCursos3{
            font-size: 11px;
            text-align: start;
        }
        #textCursos2{
            font-size: 12px;
            text-align: center;
        }
        #textCursos{
            font-size: 12px;
            text-align: center;
        }

        // ---capacitaciones---
        #fotoEmpresa{
            width: 40vw;
            height: 30vh;
            margin-left: 250px;
        }

        .textCapa{
            font-size: 16px;
            text-align: start;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .textEmpresa{
            font-size: 30px;
        }
    }

    @media only screen and (max-width:576px) {


        // ---cursos---

        .cursosText{
            font-size: 5px;
            text-align: start;
            margin-top: 0;
            margin-bottom: 0;
        }

        #textCursos4{
            font-size: 11px;
            text-align: center;
        }
        #textCursos3{
            font-size: 12px;
            text-align: start;
        }
        #textCursos2{
            font-size: 12px;
            text-align: center;
        }
        #textCursos{
            font-size: 12px;
            text-align: center;
        }

        // ---index---

        .indexx{
            font-size: 50px;
            text-align: center;
            margin-left: 50px;
        }

        .indexText{
            font-size: 15px;
            margin-top: 5px;
        }

        #card2{
            display: none;
        }

        #card3{
            display: none;
        }

        .featuBridge{
            display: none;
        }

        .ftexto{
            font-size: 18px;
            text-align: center;
            margin-top: 5px;
        }


        .indexText{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 20px;
        }

        h1{
            text-align: start;
            font-size: 40px;
            margin-bottom: 40px;
        }

        .card-title{
            font-size: 17px;
        }

        p{
            text-align: start;
            font-family: 'Berkshire Swash', cursive;
            font-size: 15px;
        }

        .card{
            height: 47vh;
            width: 273px;
            margin-left: 0px;
        }

        .img-fluid{
            display: none;
        }

        // ---ex치menes---

        #examInter{
            width: 10vw;
            margin: 0;
        }

        #examInter2{
            margin-right: 0;
            margin-top: 180px;
        }

        #textAl{
            font-size: 12px;
        }

        #textExinter{
            font-size: 13px;
            text-align: start;
        }

        // ---contacto---
        .bannerSedes{
            display: none;
        }

        .contactoText{
            display: none;
        }

        // ---capacitaciones---
        #fotoEmpresa{
            display: none;
        }

        .textCapa{
            font-size: 16px;
            text-align: start;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .textEmpresa{
            font-size: 30px;
        }

        .btn{

        }
    }
}